* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 12px 16px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

.movie-img-wrapper {
    background-size: cover;
    width: 150px;
    height: 200px;
}

.movie-holder {
    display: flex;
    justify-content: space-around;
}

.loader {
    text-align: center;
    margin: 1rem;
}



.d-none {
    display: none;
}

.v-none {
    visibility: hidden;
}

.booking-grid {
    display: grid;
    grid-template-rows: repeat(3, 70px);
    grid-template-columns: repeat(4, 70px);
    gap: 1rem;
}

#booker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#booker-grid-holder {
    margin: 2rem;
    display: flex;
    gap: 6rem;
}

.grid-cell {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unavailable-seat {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
}

.available-seat {
    background-color: green;
    cursor: pointer;
}

.selected-seat {
    border: 4px outset rgb(0, 0, 0)
}